@using BlazorTodo.Services
@inject TodoService TodoService

<div class="@setClass()">
    <p>
        <input @onchange="onToggle" type="checkbox" checked="@Todo.Completed" />
        @Todo.Title
        <button @onclick="OnDelete" class="del">X</button>
    </p>
</div>


@code {
    [Parameter] public Models.Todo Todo { get; set; }

    [Parameter]
    public EventCallback<UIMouseEventArgs> OnDelete { get; set; }

    async void onToggle()
    {
        Todo.Completed = !Todo.Completed;
        Todo = await TodoService.ToggleCompletedAsync(Todo);
    }

    string setClass()
    {
        return Todo.Completed ? "todo is-complete" : "todo";
    }
}
