@page "/todo"

@using BlazorTodo.Services
@inject TodoService TodoService

<h1>Todo application</h1>

<p>This component demonstrates todo application with getting data from a service.</p>

@if (todos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <AddTodo OnCreate="@onCreate" />

    <table class="table">
        <tbody>
            @foreach (var todo in todos)
            {
                <tr>
                    <td>
                        <TodoItem Todo="@todo" OnDelete="@(e => onDelete(e,todo))" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Models.Todo> todos;

    protected override async Task OnInitializedAsync()
    {
        todos = await TodoService.GetAsync();
    }

    private async Task onCreate(Models.Todo addTodo)
    {
        var newTodo = await TodoService.AddAsync(addTodo);
        todos.Add(newTodo);
    }

    private async Task onDelete(UIMouseEventArgs e, Models.Todo todo)
    {
        await TodoService.DeleteAsync(todo);
        todos.Remove(todo);
    }
}

